.category-tabs {
    display: flex;
    justify-content: center;
    gap: 60px;

    margin-bottom: 40px;

    flex-wrap: wrap;

    button {
        border: none;
        background: transparent;

        display: flex;
        align-items: center;
        gap: 8px;

        font-size: 17px;
        font-weight: 600;

        cursor: pointer;

        padding-bottom: 8px;

        small {
            color: #6b7280;

            font-size: 13px;
            font-weight: 700;
        }
    }

    .active {
        border-bottom: 3px solid black;
    }
}
